# Domaine et URL
DOMAIN_NAME=piconstudio.duckdns.org

# Base de données
DB_PASSWORD=STANLEY

# Sécurité (JWT)
JWT_SECRET_KEY=413F4428472B4B6250655368566D5970337336763979244226452948404D6351

# Email Configuration
MAIL_USERNAME=votre_email@gmail.com
MAIL_PASSWORD=votre_mot_de_passe_app
